* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
}

aside {
    width: 500px;
    height: 100vh;
    background-color: #51355A;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 200px;
}

.foto-perfil {
    border: 5px dotted #2A0C4E;
    border-radius: 100%;
}

.foto-perfil:hover {
    border: 5px solid #2A0C4E;

}

nav ul li {
    list-style-type: none;
    text-align: center;
    font-size: 2rem;
}


a {
    text-decoration: none;
    color: #FFF;
}

.pagina-atual {
    font-weight: bold;
}

.outra-pagina a {
    color: hsla(0, 0%, 100%, 0.5)
}

.outra-pagina a:hover {
    font-size: 2.3rem;
    transition: 1s;
}

span {
    color: #2A0C4E
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    flex-direction: column;
    gap: 50px
}

ul li, ol li {
    font-size: 1.5rem;
}

.wrapper {
    display: flex;
    gap: 20px
}

.wrapper a {
    color: #51355A
}

svg {
    width: 60px;
    fill: #000
}

.social-media {
    display: flex;
    gap: 40px
}
